@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other global styles below */

:root {
  --background: #010810;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  30% {
    transform: translateY(-80px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(-60px);
    animation-timing-function: ease-out;
  }
}

.pulse-animation { animation: pulse 1.5s infinite; }
.bounce { animation: bounce 1.8s infinite; }

/* .rounded-full {
  border-radius: 50%; 
} */
